<div class="page-header">
    <div style="float: right;">
        <select (change)="translate.use($event.target.value)">
            <option value="es">Español</option>
            <option value="fr">France</option>
            <option value="en">English</option>
          </select>
          |<a [routerLink]="['/login']"> Iniciar sesión </a> 
    </div>
    <div class="container">
        <div class="navLinks">
            <a [routerLink]="['/home']">Home </a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
</div>
<div class="containter">
    <router-outlet></router-outlet>
</div>

<hr class="mb-5">
<div class="containter">
    Fecha: {{ time | async }}
</div>